<div class="comments">
  <% $.each(comments, function (index, value) { %>
    <div class="comment">

      <div class="profile-pic">
        <img
          alt="<%= value.actor.displayName %>"
          src="<%= value.actor.image.url %>">
      </div>

      <div class="body">

        <div class="message">

          <strong>
            <a href="<%= value.actor.url %>" target="_parent">
              <%= value.actor.displayName %>
            </a>
          </strong>
          <%= value.object.object.content %>
        </div>

        <div class="time">
          <%= moment(value.published).format('LLL') %>
        </div>

      </div>

      <div class="clear"></div>

    </div>
  <% }); %>
</div>
